.root {
    -fx-background-image: url("/E:/Desktop/CV Picture.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.label{
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-fill: #ffff00;
    -fx-font-size: 35px;
}
.button{
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-fill: #66ffff;
    -fx-font-size: 35px;
}
.text{
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-fill: #66ff66;
    -fx-font-size: 35px;
}